# Build folders
build/
Debug/
Release/
ipch/
out/
.cache/

# Dependencies folder
dependencies/

# Resources folder
res.zip

# Application produced files
imgui.ini
log.txt
compile_commands.json

# Visual Studio Files
.vs/
*.opensdf
*.sdf
*.suo
*.vcxproj.user
